.errorFont {
    color: #FF6060;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 288px;
    font-weight: 700; 
}

.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;

    & p {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 500;
    }

    & a {
        font-family: 'Montserrat';
        color: #FF6060;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 139px;
    }
}

