

.propertiesContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    max-width: 1240px;

    padding: 0px 10%;

    @media (max-width: 767px) {
        padding: 0px 10%;
    }

    // & .carrouselContainer {
        // width: 100%;
        // height: 115px;
        // // height: 223px;
        // border-radius: 25px;
        // overflow: hidden;
        // position: relative;
        // object-fit: cover;

        // @media (max-width: 767px) {
        //     height: 255px;
        // }
    // }

    & .blockContainer {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin-top: 30px;

        @media (max-width: 767px) {
            flex-direction: column;
            margin-top: 15px;
        }

        & .leftBlock {
            & .title {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 36px;

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
            & .lieu {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 18px;

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
            & .tagsContainer {
                display: flex;
                flex-wrap: wrap;
                margin: 20px 0;
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                gap: 10px;
                & div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: #FF6060;
                    width: 145px;
                    height: 25px;
                    border-radius: 10px;
                }
            }
        }

        & .rightBlock {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width: 767px) {
                flex-direction: row-reverse;
                width: 100%;
                justify-content: space-between;
            }

            & .identity {
                display: flex;
                align-items: center;
                justify-content: flex-right;
                gap: 20px;

                @media (max-width: 767px) {
                    gap: 10px;
                }

                & .hostName {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: right;

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
                & .hostPicture {
                    width: 64px;
                    height: 64px;
                    border-radius: 32px;

                    @media (max-width: 767px) {
                        height: 32px;
                        width: 32px;
                    }
                }
            }
            & .note {
                display: flex;
                gap: 15px;
                justify-content: flex-end;

                @media (max-width: 767px) {
                    gap: 8px;
                }

                & .etoilePleine {
                    height: 24px;
                    width: 24px;

                    @media (max-width: 767px) {
                        height: 13px;
                        width: 13px;
                    }
                }
                & .etoileVide {
                    height: 24px;
                    width: 24px;

                    @media (max-width: 767px) {
                        height: 13px;
                        width: 13px;
                    }
                }
            }
        }
    }

    & .dropdownContainer {
        display: flex;
        gap: 30px;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 0px;
        }

        & .dropdownButton {
            width: 100%;
        }

        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
