header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 0px 50px 0px;
    width: 100%;
    background-color: white;
    max-width: 1240px;

     & .headerLogo {
        width: 210px;
        height: 68px;
        /* width: 145px;
        height: 47px; */
    }

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    width: 309px;

    & a {
        color: #FF6060;
        font-size: 24px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
  }
}
