.galleryContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // display: flex;
    // flex-wrap: wrap;
    gap: 50px 60px;
    padding: 56px 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    max-width: 1140px;

    @media (max-width: 767px) {
        background-color: white;
        margin-top: 0px;
        grid-template-columns: 1fr;
        padding: 22px 0px;
        gap: 22px;
    }
}