.galleryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px 60px;
    padding: 56px 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 43px;
    max-width: 1140px;

    @media (max-width: 879px) {
        display: grid;
        grid-template-columns: 1fr;
        background-color: white;
        width: 100%;
        margin-top: 0px;
        padding: 22px 0;
        gap: 22px;
    }
}
