.dropdownButton {
    flex-grow: 1;

    & .button {
        width: 100%;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 96, 96);
        border-radius: 5px;
        border: 0px;

        @media (max-width: 879px) {
            height: 30px;
        }

        & .buttonText {
            margin-left: 5px;
            color: white;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;

            @media (max-width: 879px) {
                font-size: 13px;
            }
        }

        & .buttonArrow {
            width: 32px;
            margin-right: 15px;

            @media (max-width: 879px) {
                width: 23px;
                margin-right: 2px;
            }

            &.spin {
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
            }

            &.spin-reverse {
                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    & .text {
        margin-bottom: 30px;
        padding: 20px;
        background-color: #F6F6F6;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;

        @media (max-width: 879px) {
            font-size: 12px;
            margin-bottom: 20px;
        }

        &.hidden {
            max-height: 0;
            padding: 0 20px;
        }

        &.shown {
            max-height: 170px;
            padding: 20px;
        }
    }
}
